<md-card>
  <md-card-header>
    <md-card-title>
      <h1>Newsletter</h1>
    </md-card-title>
  </md-card-header>
  <form novalidate>
    <md-card-content>
      <md-input-container class="full-width">
        <input type="text"  mdInput placeholder="Name">
      </md-input-container>
      <md-input-container class="full-width">
        <input type="text" mdInput placeholder="Email">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button type="submit" md-button>Subscribe!</button>
      <button type="button" md-button>Cancel</button>
    </md-card-actions>
  </form>
</md-card>